
.table{
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
h2{
    color: #6699cc;
}
.top-bar{
    display: flex;
    justify-content: space-between;
}
.second .btn{
    background-color:#0a2351 ;
    color: white;
    padding: 11px 20px;
}
.modal .btn{
    background-color:#0a2351 ;
}
.header{
    background-color: #6699cc;
}